.grid-wrapper{
    display: grid;
    width: 80%;
    margin: 50px auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.grid-wrapper article{
    background-color: black;
    color: white;
    padding: 20px;
}