.grid-wrapper{
    display: grid;
    width: 80%;
    margin: 50px auto;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.grid-wrapper *{
    background-color: black;
    color: white;
    padding: 20px;
}

.grid-wrapper header, .grid-wrapper footer{
    grid-column: 1 / span 2;
}